*{margin: 0;padding: 0;box-sizing: border-box;font-family: 思源黑体;outline:none;}
.banner{width:100%;}
.TITLE{margin: 100px auto 100px;text-align: center;}
.TITLE P:nth-child(1){font-size:36px;margin-bottom: 10px;}
.TITLE P:nth-child(2){font-size:18px;}
.YY{width:60%;margin: 0 auto;display: flex;justify-content: space-between;text-align: center;}
.YY img{width:150px;height:150px;}
.YY input{border: 1px solid #0aa1ed;margin-bottom: 12px;}
.YY .t{font-size: 26px;margin:54px auto 15px;}
.YY .m{font-size: 12px;margin:0px auto 72px;}
#m-t{margin-bottom:10px;}
.YY a{color:#fff;padding: 6px 15px;background: #0aa1ed;text-decoration: none;border-radius: 0.25rem;}
.m-style{width: 100%;background: cadetblue}
.m-style>div{display: flex;width: 60%;text-align: center;margin: 0 auto;color:#fff;}
.m-style>div>div{width: 30%;margin-top: 28px;margin-bottom: 14px;}
.m-style>div>div img{width: 100%;}
.m-style>div div:nth-child(2){margin-left: 30px;margin-right: 30px;}
.f-30{font-size: 30px;margin-bottom: 10px;}
.f-30+p{margin-bottom: 5px;}
.B-P{
    width: 60%;margin: 0 auto;margin-bottom: 20px;
}
.B-P img{width: 31%;}
.B-P img:nth-child(2){margin: 0 20px;}
.bb{width: 12%;margin: 0 auto 80px;height: 3px;background-color: #0aa1ed;}
